/* Typical Device Breakpoints
----------------------------------------
    Pequenas Telas: até 600px
    Celulares: de 600px até 768 px
    Tablets: de 768px até 992px
    Desktops: de 992px até 1200px
    Grandes Telas: 1200px ou mais
*/

@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
    }
    main{
        width: 768px;
    }
}